html {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    display: grid;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

main {
    display: grid;
    align-content: center;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-rows: repeat(13, 2vw);
    grid-template-columns: 50vw;
    border: solid 5px;
}

.stars {
    display: none;
    position: absolute;
    width: 20vw;
    height: 33vh;
}

.star-section {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(11, 1.7vw);
    grid-template-rows: repeat(9, 1.45vw);
    background-color: #0A3161;
    color: white;
    font-size: 2vw;
    padding: 0.475vw 0.5vw;
    align-items: center;
    width: 19vw;
}

.red-stripe {
    background: #B31942;
}

.white-stripe {
    background: white;
}