.container {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    justify-content: center;

}

.star-section {
    display: grid;
    background-color: blue;
    grid-row-start: 1;
}

.black-tile {
    background: black;

}

.white-tile {
    background: white;
    border: solid;
}

.six-star-row {
    color: white;
    font-size: 200px;
}

.five-star-row {
    color: white;
    font-size: 200px;
}