.container {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    justify-content: center;

}

.black-tile {
    background: black;

}

.white-tile {
    background: white;
    border: solid;

}